.App {
  text-align: center;
}


 .custom-viewDetailsContainer{
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1rem;
 }
 .custom-head{
  display: flex;
 }

 @media screen and (min-width:600px) {
  
   .modal-content {
    width:70% !important
   }
 }
 .navbar-nav > .active > a {
  color: aqua;
  background-color: chartreuse;    
}
.nav-item > a:hover {
  color: aqua;
  background-color: rgba(67, 59, 59, 0.55);; 
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  
  background-color: #353535 !important;
}
.nav-pills .nav-link:hover {
  color: aqua !important;}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: aqua !important;}
  .btn-outline-primary {
    --bs-btn-color: white !important;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: aqua !important;
    --bs-btn-hover-bg: #353535 !important;
    --bs-btn-active-bg: aqua !important;
  }

  
.btn{
  border-radius: 20px !important
}
.customHover{
  transition: transform .2s;
  background-color: rgb(250, 250, 250) !important;
}
.customHover:hover{
  transform: scale(1.02);
}
.custom-booking-child-container{
  display: flex;
}
.custom-booking-image{
  width: 40% !important;
  height: 213% !important;
}
.customResp{
  padding: 3rem 3rem !important;
}
  @media screen and (max-width:992px){
    .custom-viewDetailsContainer{
      grid-template-columns: auto !important;
    }
    .fav-container-child{
      flex-direction: column;
    }
    .custom-booking-image{
      width: 100% !important;
      height: 351px !important;
    }
    .customTextArea{
      width: 100% !important;
    }
    .custom-booking-child-container{
      flex-direction: column;
    }
    #searchField{
      width: 70vw;
    }
    .customDrop{
      position: relative !important;
      
    }
  }
  @media screen and (min-width:992px) {
    #signInEnd{
      
        position: absolute;
        right: 10px;
    
    }
    .modal-dialog{
      height: 100%;
    }
        .modal-content{
          height: 90% !important;
        }
    #searchField{
      margin-left: 1rem;
      width: 25vw;
      border-radius: 22px;
    }
    .custom-badge{margin: 0 !important;}
    
   .custom-overview{padding: 0 !important;}
   } 

  .custom-badge{
    width: auto !important;
    margin: 4px !important;
    padding: 8px !important;
    margin: 1rem;
    color: black !important;
    
  }

 
  .bDetails-Container{
    display: flex;
    flex-direction: column;
  }
  .fav-details{
    display: flex;
    flex-direction: column;
  }
  .fav-container-child{
    display: flex;
  }

  .customContainer{
    padding:0 1.5rem;
  }
  

    

 .navbar-expand-lg .navbar-nav .dropdown-menu {
      
      border-radius: 13px !important;
  }
  .dropdown-item:hover{
    color: rgb(20, 110, 110);
    
  }

  @media screen and (max-width:600px){
    .customContainer{
      padding: 0 2rem;
    }
    .customResp{
      padding: 1.5rem 1.2rem !important;
    }
    
  }

  @media screen and (max-width:400px){
    .customContainer{
      padding: 0 0.8rem;
    }
    .customHover{
      width: 20rem !important;
    }
  }
  .navbar-color{
    background-color: red !important;
  }
  .container-fluid{
    font-weight: 600;
  }

  .customDrop:hover>a{
    /* background-color: black; */
  
    border-radius: 13px;
    
   
}
.customDrop{
  padding-left: 0;
  
  position: absolute !important;
  right: 13px;
}
#basic-nav-dropdown{
  padding: 7px 10px;
  
}
#basic-nav-dropdown:hover{
  color:aqua;
  background-color: #212529;
  border-radius: 13px;
}
.dropdown-menu{
padding-top: 0 !important;
padding-bottom: 0 !important;
}
.dropdown-item:hover{
color: aqua !important;
background-color: #212529 !important;
}
  @media screen and (max-width:992px){
    .customDrop{
    
      position: relative !important;
      left: 3px;
    }}

    .customBtnHover:hover{
      color: aqua !important;
    }

    .navbar-toggler{
      color:transparent !important
    }
    .customImgBook{
      width: 50%;
    }
    @media screen and (max-width:768px){
    .custom-head{
      flex-direction: column;
    }
    .customImgBook{
      width: 100% ;
    }
    .custom-booking-image{
      height: 213px !important;
    }
  }
  .parentSpinner{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    /* display:none; */
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}
#cover-spin::after {
  content:'';
  display:block;
  position:relative;
  left:44%;top:40%;
  width:113px;height:113px;
  border-style:solid;
  border-color:black;
  border-top-color:transparent;
  border-width: 4px;
  border-radius:50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}
@media screen and (max-width:600px){
  #cover-spin::after {
    content:'';
    display:block;
    position:relative;
    left:32%;top:40%;
    width:113px;height:113px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
}


